<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangyue.h5">

    <!-- 允许网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许读写存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许NFC通讯 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 过滤所有你设备不支持的应用 -->
    <uses-feature android:name="android.hardware.nfc.hce" />
    <!-- 银联 -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <!-- 允许使用振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序可以读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.zhangyue.h5.H5Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/H5AppTheme">
        <activity
            android:name="com.zhangyue.h5.ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zhangyue.h5.ui.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name="com.zhangyue.h5.ui.PermissionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/H5AppTheme.Permissions" />
        <!-- 喜扑游戏 客户端id -->
        <meta-data
            android:name="xp_appid"
            android:value="4a15f05f6fb4527b0f8da937c1d04f76" />
        <!-- 喜扑游戏 今日头条统计SDK appname -->
        <meta-data
            android:name="xp_jrtt_appname"
            android:value="" />
        <!-- 喜扑游戏 今日头条统计SDK channel -->
        <meta-data
            android:name="xp_jrtt_channel"
            android:value="" />
        <!-- 喜扑游戏 今日头条统计SDK 是否启用 -->
        <meta-data
            android:name="xp_use_jrtt"
            android:value="false" />
        <!-- 喜扑游戏 今日头条统计SDK aid -->
        <meta-data
            android:name="xp_jrtt_aid"
            android:value="166643" />
        <!-- 喜扑游戏 推啊 advertkey -->
        <meta-data
            android:name="xp_tuia_advertkey"
            android:value="763EF716C4sdasd1F253AB457CC3B5" />
        <!--喜扑游戏 广点通 USERACTIONSETID -->
        <meta-data
            android:name="xp_gdt_useractionsetid"
            android:value="" />
        <!-- 喜扑游戏 广点通 APPSECRETKEY -->
        <meta-data
            android:name="xp_gdt_appsecretkey"
            android:value="" />
        <!--喜扑游戏 穿山甲 appId -->
        <meta-data
            android:name="xp_ttad_appid"
            android:value="" />
        <!-- 喜扑游戏 穿山甲 appName -->
        <meta-data
            android:name="xp_ttad_appname"
            android:value="" />

        <!-- 穿山甲 AD -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities=".TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities=".TTMultiProvider"
            android:exported="false" />
    </application>

</manifest>