<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xipu.cwqmx.oversea"
    tools:ignore="MissingLeanbackLauncher">

    <!-- 允许网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许读写存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许NFC通讯 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 银联 -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <!-- 允许使用振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序可以读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--海外需增加Google play商店uses-feature过滤，适配更多机型-->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.xipu.h5.osdk.OSDKApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/H5AppTheme">
        <activity
            android:name="com.xipu.h5.sdk.ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xipu.h5.sdk.ui.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.xipu.h5.sdk.ui.PermissionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/H5AppTheme.Permissions" />

        <!--关闭 Unity 应用启动默认申请敏感权限 -->
        <meta-data
            android:name="unityplayer.SkipPermissionsDialog"
            android:value="true" />
        <!-- 喜扑游戏 客户端id  0723d02cec14fc2dd6ec725c344ef5c1   38807b0c59747f0cb583c3a00a24a788 -->
        <meta-data
            android:name="xp_appid"
            android:value="65b5f457b9b342d0d807b23195c12345" />
        <!--喜扑游戏 SDK TYPE -->
        <meta-data
            android:name="xp_sdk_type"
            android:value="3302" />
        <!-- 喜扑游戏 appsflyer  -->
        <meta-data
            android:name="xp_af_dev_key"
            android:value="bYATtWqiJ2Qfpx5XwmqQm3" />
        <!-- 喜扑游戏 google_web_client_id -->
        <!-- yiyh id 1080793463537-7dt912gh68gel5kehjqoihiadjdeprk2.apps.googleusercontent.com -->
        <meta-data
            android:name="xp_google_web_client_id"
            android:value="607840312680-0r8s6j7500b15dasn4letikdglmd60hp.apps.googleusercontent.com" />
        <!-- 喜扑游戏 line_channel_id -->
        <!-- yiyh id 1654623962 -->
        <meta-data
            android:name="xp_line_channel_id"
            android:value="1654048988" />

        <!-- 喜扑游戏 facebook_app_id -->
        <!-- login -->
        <!-- yiyh id 907593026410177 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- fb share -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider690071885079371"
            android:exported="true" />

        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
